*{
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    background-color: black;
    padding: 4px 0px;
    display: flex;
    flex-wrap: wrap;
}
#appLogo>a{
    text-decoration: none;
}
#appLogo>a>h4{
    border: 1px solid rgb(59, 255, 69);
    padding: 4px 6px;
    margin: 2px;
    color: white;
    border-radius: 5px;
}
#navBtnBox{
    margin: auto 5px;
}
#navBtnBox>ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
#navBtnBox>ul>li{
    display: inline;
}
#navBtn{
    padding: 0px 12px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}
#navBtnBox>ul>li>a:hover{
    color: rgb(255, 0, 0);
    border-radius: 0px;
}
